Django>=5.0,<6.0
djangorestframework>=3.15,<4.0
django-cors-headers>=4.3,<5.0
psycopg[binary]>=3.1,<4.0
python-dotenv>=1.0,<2.0
cryptography>=42.0
truststore>=0.10
google-auth-oauthlib>=1.4,<2.0
google-api-python-client>=2.0,<3.0
djangorestframework-simplejwt>=5.5,<6.0
